body{
    background-color: aliceblue;
    font-family: 15px/1.5 Arial, Helvetica, sans-serif;
}

.container{
    overflow: hidden;
    margin: auto;
    width: fit-content;
}

ul{
    margin: 0pc;
    padding: 0pc;
}